#game{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #829c9d;
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #393E46;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
}
#winning-text { 
    position: relative;
    top: -50px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #393E46;
    background-color: #eee;
    padding: 10px 20px;
}